html,
body,
#root,
.app {
	height: 100%;
	width: 100%;
}

/* GLOBAL */
.app .wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

/* UTILITIES */
:root {
	--color-primary: tomato;
	--color-secondary: wheat;
}
.container {
	padding-inline: 2rem;
}
.mt-2 {
	margin-top: 2rem;
}
.mt-3 {
	margin-top: 3rem !important;
}
.btn {
	background-color: var(--color-secondary);
	color: var(--color-primary);
	border: var(--color-primary) 1px solid;
	font-weight: 700;
	border-radius: 50px;
	padding: 0 1rem;
	height: 30px;
	cursor: pointer;
	transition: all 0.25s ease;
}
.btn:hover {
	background-color: var(--color-primary);
	color: var(--color-secondary);
}
.btn:active {
	background-color: rgb(255, 54, 19);
	color: var(--color-secondary);
}
.btn-alt {
	color: var(--color-secondary);
	background-color: var(--color-primary);
}
.btn-alt:hover {
	background-color: var(--color-secondary);
	color: var(--color-primary);
}
.btn-alt:active {
	background-color: rgb(226, 204, 165);
	color: var(--color-primary);
}
.btn-full {
	width: 100%;
}
.btn-nav {
	border: 2px var(--color-secondary) solid;
}
/* HEADER COMPONENT */

.Header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-primary);
	color: white;
}

.Header__nav .logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: white;
}

.Header__nav .logo .icon {
	height: 40px;
	margin-right: 0.5rem;
	color: var(--color-secondary);
}

.Header__nav ul {
	list-style: none;
	display: flex;
}

.Header__nav ul li {
	padding-left: 1rem;
}

.Header__nav ul li a {
	text-decoration: none;
	color: var(--color-secondary);
}

/* MOVIES PAGE */
.Movies__topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* TABLE COMPONENT */
.Table {
	width: 100%;
	border-collapse: collapse;
	font-family: "Arial";
	border: 1px solid #eee;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 1px 1px 5px var(--color-primary), 0px 0px 20px rgba(0, 0, 0, 0.1),
		0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05),
		0px 30px 20px rgba(0, 0, 0, 0.05);
}
.Table tr th {
	background: var(--color-primary);
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	padding: 0.5rem 0;
}
.Table tr td {
	color: #555;
	border: 1px solid #eee;
	padding: 0.75rem 1.5rem;
	border-collapse: collapse;
}

.Table tbody tr:hover {
	background: #f4f4f4;
}

.Table a {
	text-decoration: none white 2px;
	color: #555;
	transition: all 0.4s ease;
}
.Table a:hover {
	text-decoration: underline var(--color-primary) 2px;
}
.Table .ratings {
	text-align: center;
}
.Table .actions {
	display: flex;
	gap: 1rem;
}
.Table tbody tr > td:first-child {
	display: flex;
	justify-content: space-between;
}
.Table .icon {
	height: 18px;
	cursor: pointer;
}

/* FORM COMPONENT  */
.Form {
	padding: 1rem;
	width: 400px;
}
.Form div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.Form input,
.Form select,
.Form textarea {
	width: 65%;
	margin: 0.5rem 1rem;
	border-color: var(--color-primary);
	border-width: 1px;
	border-radius: 20px;
	padding: 0.5rem;
	outline: none;
	transition: all 0.5s ease;
}
.Form input:focus,
.Form select:focus,
.Form textarea:focus {
	box-shadow: 2px 2px 2px var(--color-primary);
}
.Form label {
	width: 35%;
	margin: 0.5rem 1rem;
	text-align: left;
}

.Form .mt-2 {
	margin-left: 30%;
}

/* LOGIN AND REGISTER  */
.Login,
.Register {
	width: 100%;
	height: calc(100% - 68px);
	display: grid;
	align-items: center;
}

.Login fieldset,
.Register fieldset {
	height: 70%;
	max-height: 500px;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	background-color: var(--color-secondary);
	border: var(--color-primary) 2px solid;
	border-radius: 20px;
}

.Login legend,
.Register legend {
	background-color: white;
	color: var(--color-primary);
	margin-right: 15%;
	text-align: left;
	font-size: 1.5rem;
	border-radius: 25px;
	padding: 0 0.5rem;
	font-weight: 700;
}

.Login form,
.Register form {
	margin: 0 auto;
}

.Login p {
	border-top: 2px dashed gray;
	padding-top: 1.5rem;
	margin: 1rem auto;
	width: 70%;
	position: relative;
	text-align: center;
	font-style: italic;
	font-size: 14px;
	color: #444;
}
.Login p::before {
	position: absolute;
	content: "or";
	top: 0;
	left: 50%;
	transform: translateY(-60%) translateX(-50%);
	padding: 0 0.5rem 0.15rem 0.5rem;
	border-radius: 20px;
	border: gray 1.5px dashed;
	background-color: var(--color-secondary);
	font-style: italic;
	font-weight: 700;
	font-size: 12px;
	color: rgb(129, 110, 76);
}
.Login p a {
	color: var(--color-primary);
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
}

/* SPINNER COMPONENT */
.loadingSpinnerContainer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 5000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loadingSpinner {
	width: 64px;
	height: 64px;
	border: 8px solid;
	border-color: #000 transparent #555 transparent;
	border-radius: 50%;
	animation: spin 1.2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
